# the linguistic database - don't trust github with it for now
ldb/

# vertx
vert.x-2.1.1/
mods/

target/
test-output/
*.iml
.classpath_nb

# sbt specific
/project/boot/
/project/plugins/project
lib_managed/
src_managed/

# Eclipse specific
.project
.classpath
.cache

# idea specific
/.idea/
/bin
